.footer {
  background: $lightgreen;
  color: #5c5c5c;
  padding-top: rem(55);
  padding-bottom: rem(60);
  font-size: rem(18);

  .funeral-site & {
    background: $lightpurple;
  }

  .row {
    margin: 0 rem(90);

    @include media-breakpoint-down(xs) {
      display: block;
      margin: 0;
    }
  }

  h2 {
    font-size: rem(20);
    line-height: rem(29);
    margin-bottom: rem(30);
    font-weight: normal;
    color: #5c5c5c;
  }

  p {
    margin-bottom: rem(20);
  }

  .col {
    &:first-child {
      padding-right: rem(75);

      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }

    &:last-child {
      padding-left: rem(75);

      @include media-breakpoint-down(xs) {
        padding: 0;
        margin-top: rem(70);
      }
    }

    &.col--half {
      @include media-breakpoint-down(xs) {
        max-width: none;
      }
    }
  }
}
