@include media-breakpoint-down(xs) {
  .template-frontpage {
    .sidebar-images {
      display: none;
    }
  }
}

.frontpage-blocks {
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    display: block;
    margin: 0 rem(20);
  }

  &__item {
    background: red;
    flex: 1;
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
    width: 100%;
    min-height: 1px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    padding-top: rem(110);
    padding-bottom: rem(50);

    @include media-breakpoint-down(sm) {
      max-width: none;
    }

    h2 {
      color: white;
      font-weight: 300;
      font-size: rem(30);
      line-height: 1.43;
      margin-bottom: rem(70);
      padding: 0 rem(30);
    }
  }
}
