.banner {
  padding: rem(15) 0;

  .brand {
    img {
      width: rem(230);
      height: auto;

      @include media-breakpoint-down(xs) {
        height: rem(42);
        width: auto;
      }
    }
  }

  .nav-primary {
    flex: 1;
    font-size: rem(23);
    line-height: rem(33);
    padding-left: rem(65);

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  .menu {
    &__item {
      display: inline-block;

      a {
        color: #000;
        display: block;
        padding: 0 rem(20);
      }
    }
  }
}
