.banner {
  padding: 1.5rem;

  .brand {
    img {
      width: 23rem;
      height: auto;
    }
  }

  .nav-primary {
    flex: 1;
    font-size: 2.3rem;
    padding-left: 6.5rem;

    ul {
      li {
        display: inline-block;

        a {
          color: black;
          display: block;
          padding: 0 2rem;
        }
      }
    }
  }
}
