.page-banner {
  position: relative;

  img {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(xs) {
      height: 100vh;
      width: auto;
      object-fit: cover;
    }
  }

  &__logo {
    position: absolute;
    top: rem(100);
    left: rem(110);

    @include media-breakpoint-down(lg) {
      left: rem(50);
      top: rem(50);
    }

    @include media-breakpoint-down(sm) {
      left: rem(50);
      top: rem(50);
    }

    @include media-breakpoint-down(xs) {
      top: rem(50);
      left: 0;
      right: 0;
    }

    img {
      width: rem(266);
      height: auto;

      @include media-breakpoint-down(lg) {
        width: rem(200);
      }

      @include media-breakpoint-down(sm) {
        width: rem(175);
      }

      @include media-breakpoint-down(xs) {
        width: rem(175);
        margin: 0 auto;
      }
    }
  }

  &__cta {
    position: absolute;
    bottom: rem(225);
    right: rem(300);
    padding: rem(45) rem(200) rem(15) rem(200);
    width: rem(650);
    text-align: center;

    @include media-breakpoint-down(lg) {
      bottom: rem(100);
      right: rem(50);
      width: rem(400);
      padding: rem(30) rem(30) 0 rem(30);
    }

    @include media-breakpoint-down(sm) {
      position: static;
      width: 100%;
      padding-bottom: rem(30);
    }

    @include media-breakpoint-down(xs) {
      padding: rem(30) rem(30) 0 rem(30);
      bottom: rem(30);
      left: rem(30);
      right: rem(30);
      width: auto;
      position: absolute;
    }

    @include media-breakpoint-down(xs) {
      .btn {
        width: 100%;
        padding: rem(15) 0;
      }
    }

    h2 {
      color: white;
      font-size: rem(30);
      font-weight: 300;
      margin-bottom: rem(40);

      @include media-breakpoint-down(xs) {
        font-size: rem(25);
        margin-bottom: rem(20);
      }
    }
  }
}

.page-header {
  color: $green;
  margin-top: 3rem;
  margin-bottom: 2rem;

  h1 {
    font-weight: 400;
    font-size: rem(32);
  }
}

.page-content {
  padding-right: rem(80);

  .template-inspiration & {
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    min-width: 100%;
    padding-right: 0;
  }

  @include media-breakpoint-down(xs) {
    order: 2;
    flex-basis: 100%;
    min-width: 100%;
    padding: 0 rem(30);
  }
}

#sb_instagram {
  margin: 0 -10px;
}
