.page-banner {
  position: relative;

  img {
    width: 100%;
    height: auto;

    @include media-breakpoint-down(xs) {
      height: 100vh;
      width: auto;
      object-fit: cover;
    }
  }

  &__logo {
    position: absolute;
    top: rem(100);
    left: rem(110);

    @include media-breakpoint-down(lg) {
      left: rem(50);
      top: rem(50);
    }

    @include media-breakpoint-down(sm) {
      left: rem(50);
      top: rem(50);
    }

    @include media-breakpoint-down(xs) {
      top: rem(50);
      left: 0;
      right: 0;
    }

    img {
      width: rem(266);
      height: auto;

      @include media-breakpoint-down(lg) {
        width: rem(200);
      }

      @include media-breakpoint-down(sm) {
        width: rem(175);
      }

      @include media-breakpoint-down(xs) {
        width: rem(175);
        margin: 0 auto;
      }
    }

    &.right {
      max-width: 1560px;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding-right: rem(190);

      img {
        float: right;
      }
    }
  }

  &__cta {
    position: absolute;
    max-width: 1560px;
    margin: 0 auto;
    bottom: rem(160);
    text-align: center;
    left: 0;
    right: 0;

    @include media-breakpoint-down(lg) {
      bottom: rem(100);
      right: rem(50);
      width: rem(400);
      left: auto;
      margin: 0;
    }

    @include media-breakpoint-down(sm) {
      position: static;
      width: 100%;
    }

    @include media-breakpoint-down(xs) {
      bottom: rem(30);
      left: rem(30);
      right: rem(30);
      width: auto;
      position: absolute;
    }

    &__inner {
      width: rem(660);
      padding: rem(45) rem(200) rem(15) rem(200);
      float: right;
      margin-right: rem(110);

      @include media-breakpoint-down(lg) {
        padding: rem(30) rem(30) 0 rem(30);
      }

      @include media-breakpoint-down(sm) {
        float: none;
        padding-bottom: rem(30);
        width: 100%;
      }

      @include media-breakpoint-down(sm) {
        padding: rem(30);
      }

      @include media-breakpoint-down(xs) {
        .btn {
          width: 100%;
          padding: rem(15) 0;
        }
      }

      h2 {
        color: white;
        font-size: rem(30);
        font-weight: 300;
        margin-bottom: rem(40);

        .funeral-site & {
          margin-left: rem(20);
          margin-right: rem(20);
        }

        @include media-breakpoint-down(xs) {
          font-size: rem(25);
          margin-bottom: rem(20);
        }
      }
    }
  }
}

.page-header {
  color: $green;
  margin-top: 3rem;
  margin-bottom: 2rem;

  h1 {
    font-weight: 400;
    font-size: rem(32);
  }
}

.page-content {
  padding-right: rem(80);

  .template-inspiration & {
    padding-right: 0;
  }

  @include media-breakpoint-down(sm) {
    min-width: 100%;
    padding-right: 0;
  }

  @include media-breakpoint-down(xs) {
    order: 2;
    flex-basis: 100%;
    min-width: 100%;
    padding: 0 rem(30);
  }

  .intro {
    font-size: rem(27);
    color: #46284baa;
  }

  h1,
  h2,
  h3 {
    font-size: rem(32);
    margin-bottom: rem(30);
  }

  h3 {
    font-size: rem(28);
    color: #707070;
  }

  .btn {
    background: $purple;
    color: white;
    margin: rem(50) 0;
  }
}

#sb_instagram {
  margin: 0 -10px;
}
