.two-column-layout {
  margin-top: rem(35);

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }

  .text-right {
    text-align: left;

    .page-content {
      order: 2;
      padding-left: rem(80);
      padding-right: 0;
      padding-bottom: rem(40);

      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }

      @include media-breakpoint-down(xs) {
        padding: 0 rem(30);
      }
    }

    @include media-breakpoint-down(sm) {
      .featured-image {
        order: 2;
      }
    }
  }

  &__container {
    padding-top: rem(90);

    @include media-breakpoint-down(sm) {
      padding-top: 0;
    }

    &:nth-child(even) {
      background: rgb(249, 248, 249);
    }

    .content {
      margin-bottom: 0;
      margin-top: 0;

      .page-content {
        padding-top: rem(85);

        @include media-breakpoint-down(sm) {
          max-width: none;
        }
      }

      .featured-image {
        margin-bottom: rem(40);
      }
    }
  }

  .carousel-under {
    padding-bottom: rem(240);

    @include media-breakpoint-down(sm) {
      padding-top: rem(90);
    }

    &.multiple {
      h4 {
        font-size: rem(28);
        color: #707070;
        margin-bottom: rem(30);
      }

      .slider {
        margin-bottom: rem(100);
      }
    }

    .page-content {
      padding-bottom: rem(40);
      padding-right: 0;

      @include media-breakpoint-down(xs) {
        padding: 0 rem(30);
      }
    }
  }

  .kister-urner {
    padding-bottom: rem(80);
    background: white;

    .page-content {
      padding-bottom: rem(90);
    }

    &__container {
      @include media-breakpoint-down(sm) {
        padding: 0 rem(20);
      }

      &__item {
        margin-bottom: rem(100);

        @include media-breakpoint-down(sm) {
          padding: 0 rem(10);
        }

        img {
          margin-bottom: rem(40);
        }
      }
    }
  }
}
